/* 
    Created on : 
    Author     : 
    File        : estilo5.css
    Description : Trabajando con selectores
*/

body {
	background-color: #009cde;
}

/* .padre>div {border: 1px solid red;} */

.hijo {
	border: 1px solid red;
}



